h1 {
  text-align: center;
}
.buttonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.out {
  display: flex;
  align-items: center;
  justify-content: center;
}
.win {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.won {
  background-color: green;
  color: white;
}

.lost {
  background-color: red;
  color: white;
}
